@font-face {
    font-family: 'MyFont';
    src: url('./journal-webfont.woff') format('woff2'),
      url('./journal-webfont.woff2') format('woff');
    font-weight: 600;
    font-style: normal;
  }

div.menu {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: blanchedalmond;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 1.7rem;
    font-family: "MyFont";
    width: 60%;
}

ul.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

div.menubon {
    font-family: "MyFont";
    font-size: 40px;
}

