* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff7ed;
    background-image: url("./background.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 40px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    padding: 25px;
}

ul#tabs {
    display: flex;
    gap: 50px;
    list-style-type: none;
}

li.hometab {
    display: flex;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #1e1b4b;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

li.hometab:hover {
    background-color: #312e81;
}

#content {
    color: #262626;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex: 1;
    background-color: rgba(248, 221, 159, 0.85);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 45px;
    gap:30px;
}

.footer {
    font-weight: bold;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px 25px;
    background-color: rgba(23, 0, 76, 0.5);
    color: white;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-top: 25px;
}

a {
    color: white;
}

a:link {
    text-decoration: none;
  }

a:hover {
    text-decoration: underline;
  }

hr {
    border: 0px;
    border-top: 1px solid #262626;
    width: 60%;
    
}
